body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:860px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:860px;
}
#u1 {
  position:absolute;
  left:2px;
  top:422px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:506px;
  top:265px;
  width:267px;
  height:260px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:260px;
}
#u3 {
  position:absolute;
  left:2px;
  top:122px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:392px;
  top:549px;
  width:496px;
  height:46px;
  font-family:'HighTideBold', 'High Tide Bold', 'High Tide';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:46px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:108px;
  top:150px;
  width:222px;
  height:130px;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:130px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:932px;
  top:277px;
  width:222px;
  height:130px;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:130px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:353px;
  top:695px;
  width:222px;
  height:130px;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:130px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
}
#u6.a {
}
#u8.a {
}
#u10.a {
}
