@import url(http://fonts.googleapis.com/css?family=Lato);

/**** FONTELLO ****/
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?13540858');
  src: url('../fonts/fontello/fontello.eot?13540858#iefix') format('embedded-opentype'),
       url('../fonts/fontello/fontello.svg?13540858#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="iconf-"]:before, [class*=" iconf-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}

.iconf-attach:before { content: '\e800'; }
.iconf-child:before { content: '\e801'; }
.iconf-flag-1:before { content: '\e802'; }
.iconf-upload-cloud-outline:before { content: '\e803'; }
.iconf-facebook-circled:before { content: '\e804'; }
.iconf-twitter-circled:before { content: '\e805'; }
.iconf-instagram-circled:before { content: '\e806'; }
.iconf-youtube:before { content: '\e807'; }
.iconf-pinterest-circled:before { content: '\e808'; }
.iconf-play-circled:before { content: '\e809'; }
.iconf-quote:before { content: '\e80a'; }
/**********************/

body {
  font-family: 'fontello';
  color: #646464;
}

a {
  color: #646464;
  font-weight: bold;
}

a:hover {
  color: #00e0df;
}

.clear {
  clear: both;
}

.row{
    margin-left:0px;
    margin-right:0px;
}

.wall {
  display: none;
}

#wrapper {
    padding-left: 60px;
    transition: all .2s ease 0s;
    height: 100%
}

h1 {
  background-color: #00e0df;
  margin: 0;
  padding: 30px 0;
}

h1 p {
  display: none;
}

h1 a {
  display: block;
  text-align: center;
}

#sidebar-wrapper {
    margin-left: -310px;
    left: 70px;
    width: 300px;
    background: #fff;
    position: fixed;
    height: 100%;
    z-index: 10000;
    -webkit-transition-transition: all .2s ease 0s;
    -moz-transition-transition: all .2s ease 0s;
    -o-transition-transition: all .2s ease 0s;
    -ms-transition-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
}

.sidebar-nav {
    display: block;
    width: 300px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 290px;
}
#wrapper.active #sidebar-wrapper {
    left: 300px;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a:hover {
  color: #FFFFFF;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #000;
    display: inline;
    text-decoration: none;
    width: 300px;
    -webkit-transition: background .4s;
    -moz-transition: background .4s;
    -o-transition: background .4s;
    -ms-transition: background .4s;
    transition: background .4s;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li:not(#burger) {
  line-height: 40px;
  text-indent: 70px;
}

.sidebar-nav li a {
  font-family: 'Lato', Arial, sans-serif;
  color: #646464;
  font-weight: normal;
  display: block;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 0 10px 0px;
}

.sidebar-nav li:not(#burger) a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #00e0df;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon
{
   float:right;
   padding-right: 25px;
   padding-top:20px;
}
.sub_icon
{
  float:right;
   padding-right: 25px;
   padding-top:10px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#main-icon.navbar-toggle {
  display: block !important;
  position: inherit;
  float: none;
  margin: 0 0 0 236px;
}

#main-icon.navbar-toggle:before {
  color: #999999;
}

#main-icon.navbar-toggle:hover:before {
  color: #00e0df;
}

/**** FOOTER ****/
#footer {
  position: absolute;
  bottom: 15px;
  width: 300px;
  opacity: 1;
}
#footer.inactive {
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -o-transition: opacity .3s;
  -ms-transition: opacity .3s;
  transition: opacity .3s;
  opacity: 0;
}
#sidebar-wrapper .social-footer {
  display: block;
  overflow: hidden;
}
#sidebar-wrapper .social-footer li {
  list-style: none;
  float: left;
}
#sidebar-wrapper .social-footer li a {
  font-size: 30px;
  color: #646464;
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  -o-transition: color .3s;
  -ms-transition: color .3s;
  transition: color .3s;
}
#sidebar-wrapper .social-footer li a:hover {
  color: #00e0df;
}
#sidebar-wrapper .social-footer li a span {
  display: none;
}
#sidebar-wrapper .joinSocial {
  text-align: center;
  margin: 0;
}
#sidebar-wrapper .copy {
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  font-size: 9px;
}
#sidebar-wrapper .copy a {
}

/* normal sidebar state */
#wrapper.active #brand-logo {
  opacity: 1;
  visibility:visible;
  height: 185px;
}

/* hidden sidebar state */
#wrapper #brand-logo {
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -o-transition: opacity .3s;
  -ms-transition: opacity .3s;
  transition: opacity .3s;
  opacity: 0;
  visibility:hidden;
  height: 0;
}

/* normal sidebar state */
#wrapper.active #brand-mini-logo {
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -o-transition: opacity .3s;
  -ms-transition: opacity .3s;
  transition: opacity .3s;
  opacity: 0;
  visibility:hidden;
  height: 0;
}

/* hidden sidebar state */
#wrapper #brand-mini-logo {
  opacity: 1;
  visibility:visible;
  height: 185px;
  line-height: 153px;
  padding-left: 236px;
}

vg-quiz {
  position: absolute;
  z-index: 1000;
}

vg-overlay-play.onPause .iconButton.play {
  display: none;
}

/* Video form */

.intro-form {
  margin-top: 200px;
}

.intro-form h4 {
  text-align: center;
  margin-bottom: 40px;
  color: #FFF;
  text-transform: uppercase;
  font-family: 'Open Sans'
}

#reply {
  width: 100%;
  font-size: 23px;
  height: 50px;
}

.replyForm .col-md-10 {
  padding-right: 0;
  padding-left: 40px;
}

.quiz-submit-button {
  height: 50px;
  font-size: 23px;
  line-height: 23px;
}

.quiz-skip-button {
  display: block;
  width: 88%;
  height: 50px;
  font-size: 23px;
  line-height: 23px;
  margin-top: 15px;
  margin-left: 40px;
}