<div class="row" id="about">
  <div class="col-md-12">
    <h3><i class="iconf-flag-1"></i> Le projet</h3>
    <p class="col-md-5 intro">
      <span class="colorized">Bien Sûres</span> : Un engagement collectif permanent, pour lutter contre la violence du <span class="colorized">harcèlement de rue</span> rendue banale. <br>
      <span class="caret"></span>
      <a href="bien-sures_communique_de_presse.pdf" target="_blank" class="download-link">Télécharger notre communiqué de presse</a>
    </p>
    <p class="col-md-5 intro">
      Bien sûres demande donc à ses contributeur (trices) de s’abstenir de mentionner l’origine, la classe, l’orientation sexuelle, l’apparence, l’âge, le handicap, etc., de leurs harceleurs. Ce mouvement a pour ambition de changer les valeurs de la société. Pas de pointer du doigt.
      <span class="caret"></span>
      <a href="bien-sures_charte_communautaire.pdf" target="_blank" class="download-link">Télécharger notre charte communautaire</a>
    </p>
    <div class="stats">
      <div class="col-md-4">
        <span class="numbers">1/4</span> <span class="quote">femme a peur <br> <b>dans la rue</b></span>
      </div>
      <div class="col-md-4">
        <span class="numbers">1/4</span> <span class="quote">femme a peur <br> <b>dans la rue</b></span>
      </div>
      <div class="col-md-4">
        <span class="numbers">1/4</span> <span class="quote">femme a peur <br> <b>dans la rue</b></span>
      </div>
    </div>
    <h3><i class="iconf-child"></i> L'équipe</h3>
    <div class="col-md-offset-1 team">
      <div class="col-md-2">
        <div class="people">
          <div class="name"><span class="firstname">Armony</span> <br> Hren</div>
          <img src="http://placehold.it/156x140">
          <span class="caret"></span>
        </div>
        <p class="job">Développeur web</p>
        <p class="description">Conçoit et développe les fonctionnalités du site</p>
      </div>
      <div class="col-md-2">
        <p class="job">Développeur web</p>
        <p class="description">Conçoit et développe les fonctionnalités du site</p>
        <div class="people">
          <div class="name"><span class="firstname">Aurélien</span> <br> Digout</div>
          <img src="http://placehold.it/156x140">
          <span class="caret"></span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="people">
          <div class="name"><span class="firstname">Valentine</span> Millet</div>
          <img src="http://placehold.it/156x140">
          <span class="caret"></span>
        </div>
        <p class="job">Développeur web</p>
        <p class="description">Conçoit et développe les fonctionnalités du site</p>
      </div>
      <div class="col-md-2">
        <p class="job">Développeur web</p>
        <p class="description">Conçoit et développe les fonctionnalités du site</p>
        <div class="people">
          <div class="name"><span class="firstname">Mikaël</span> Reichardt</div>
          <img src="http://placehold.it/156x140">
          <span class="caret"></span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="people">
          <div class="name"><span class="firstname">Mathieu</span> Santostefano</div>
          <img src="http://placehold.it/156x140">
          <span class="caret"></span>
        </div>
        <p class="job">Développeur web</p>
        <p class="description">Conçoit et développe les fonctionnalités du site</p>
      </div>
    </div>
  </div>
</div>