<div class="row" id="help">
  <div class="col-md-12">
    <h3><i class="iconf-flag-1"></i> Besoin d'aide</h3>
    <p class="col-md-8">Le harcèlement dans la rue est un phénomène universel. Il est une pratique sexiste courante consistant à adresser aux passant(e)s des remarques sur leur apparence physique, leur tenue, à les insulter ou à leur faire des propositions de nature sexuelle.</p>
    <div class="col-md-4">hollaback</div>
    <div class="col-md-4">cndiff</div>
    <div class="col-md-4">chiennes de garde</div>
  </div>
</div>