<div class="row" id="help">
  <div class="col-md-12">
    <h3><i class="iconf-flag-1"></i> Besoin d'aide</h3>
    <p class="col-md-8 intro">Le harcèlement dans la rue est un phénomène universel. Il est une pratique sexiste courante consistant à adresser aux passant(e)s des remarques sur leur apparence physique, leur tenue, à les insulter ou à leur faire des propositions de nature sexuelle.</p>
    <div class="partners">
      <div class="col-md-4">
        <a href="http://france.ihollaback.org/je-suis-avec-toi/" target="_blank">
          <div>hollaback</div>
          <span class="caret"></span>
          <p>Une plateforme de partage des expériences et témoignages où chacun(e) pourra trouver le soutien d’une communauté et transformer sa mésaventure en une prise de pouvoir.</p>
          <span class="plus">+</span>
        </a>
      </div>
      <div class="col-md-4">
        <a href="http://www.infofemmes.com/" target="_blank">
          <div>cndiff</div>
          <span class="caret"></span>
          <p>Le réseau national des CNIDFF contribue, depuis quatre décennies, à faire avancer les droits des femmes et à promouvoir l'égalité entre les femmes et les hommes.</p>
          <span class="plus">+</span>
        </a>
      </div>
      <div class="col-md-4">
        <a href="http://www.chiennesdegarde.com/" target="_blank">
          <div>chiennes de garde</div>
          <span class="caret"></span>
          <p>"Adresser une injure sexiste publique à une femme, c'est insulter toutes les femmes. Nous nous engageons à manifester notre soutien aux femmes attaquées publiquement en tant que femmes."</p>
          <span class="plus">+</span>
        </a>
      </div>
    </div>
    <div class="partners">
      <div class="col-md-4">
        <a href="http://www.npns.fr/" target="_blank">
          <div>ni putes ni soumises</div>
          <span class="caret"></span>
          <p>Un cri de colère a été lancé en 2003 pour dire non aux dégradations des conditions de vie constantes et inadmissibles que subissent les filles en France en général et dans nos quartiers en particulier.</p>
          <span class="plus">+</span>
        </a>
      </div>
      <div class="col-md-4">
        <a href="http://www.osezlefeminisme.fr/" target="_blank">
          <div>osez le féminisme</div>
          <span class="caret"></span>
          <p>Créé en juin 2009, par quelques militant(e)s mobilisé(e)s pour défendre le Mouvement Français pour le Planning Familial dont le budget étaient menacé de suppression, en janvier 2009.</p>
          <span class="plus">+</span>
        </a>
      </div>
      <div class="col-md-4">
        <a href="http://www.stopharcelementderue.org/" target="_blank">
          <div>stop harcèlement de rue</div>
          <span class="caret"></span>
          <p>"Ils sont des individus de tous horizons, désireux de porter la lutte contre le harcèlement "de rue" via des actions dans l’espace public (bars, festivals, rues et transports #zonesansrelou)"</p>
          <span class="plus">+</span>
        </a>
      </div>
    </div>
  </div>
</div>