<div class="row" id="help">
  <div class="col-md-12">
    <h3><i class="iconf-flag-1"></i> Besoin d'aide</h3>
    <p class="col-md-8 intro">Le harcèlement dans la rue est un phénomène universel. Il est une pratique sexiste courante consistant à adresser aux passant(e)s des remarques sur leur apparence physique, leur tenue, à les insulter ou à leur faire des propositions de nature sexuelle.</p>
    <div class="partners">
      <div class="col-md-4">
        <a href="http://france.ihollaback.org/je-suis-avec-toi/" target="_blank">
          <div>hollaback</div>
          <span class="caret"></span>
          <p>Le réseau national des CIDFF contribue, depuis quatre décennies, à faire avancer les droits des femmes et à promouvoir l'égalité entre.</p>
          <span class="plus">+</span>
        </a>
      </div>
      <div class="col-md-4">
        <a href="http://www.infofemmes.com/" target="_blank">
          <div>cndiff</div>
          <span class="caret"></span>
          <p>Le réseau national des CIDFF contribue, depuis quatre décennies, à faire avancer les droits des femmes et à promouvoir l'égalité entre.</p>
          <span class="plus">+</span>
        </a>
      </div>
      <div class="col-md-4">
        <a href="http://www.chiennesdegarde.com/" target="_blank">
          <div>chiennes de garde</div>
          <span class="caret"></span>
          <p>Le réseau national des CIDFF contribue, depuis quatre décennies, à faire avancer les droits des femmes et à promouvoir l'égalité entre.</p>
          <span class="plus">+</span>
        </a>
      </div>
    </div>
    <div class="partners">
      <div class="col-md-4">
        <a href="http://www.npns.fr/" target="_blank">
          <div>ni putes ni soumises</div>
          <span class="caret"></span>
          <p>Le réseau national des CIDFF contribue, depuis quatre décennies, à faire avancer les droits des femmes et à promouvoir l'égalité entre.</p>
          <span class="plus">+</span>
        </a>
      </div>
      <div class="col-md-4">
        <a href="http://www.osezlefeminisme.fr/" target="_blank">
          <div>osez le féminisme</div>
          <span class="caret"></span>
          <p>Le réseau national des CIDFF contribue, depuis quatre décennies, à faire avancer les droits des femmes et à promouvoir l'égalité entre.</p>
          <span class="plus">+</span>
        </a>
      </div>
      <div class="col-md-4">
        <a href="http://www.stopharcelementderue.org/" target="_blank">
          <div>stop harcèlement de rue</div>
          <span class="caret"></span>
          <p>Le réseau national des CIDFF contribue, depuis quatre décennies, à faire avancer les droits des femmes et à promouvoir l'égalité entre.</p>
          <span class="plus">+</span>
        </a>
      </div>
    </div>
  </div>
</div>