<div class="row onCompleted hidden">
  <div class="col-md-12" ng-class="{true: 'col-md-offset-1', false: ''}[isSidebarActive]">
    <h4>Partage ton expérience sur :</h4>
    <div class="col-md-8 col-md-offset-2">
      <div class="sharingBtns">
        <a ng-click="share('facebook')" target="_blank" class="iconf iconf-facebook-circled"><span></span></a>
        <a href="https://twitter.com/intent/tweet?url=http://bit.ly/1nNUhYb&text=Message&hashtags=BienSures" target="_blank" class="iconf iconf-twitter-circled"><span></span></a>
      </div>
      <i class="glyphicon glyphicon-repeat" id="btn-replay" ng-click="API.play();"></i>
      <h4>Découvre les autres expériences :</h4>
      <button ng-click="loadVideo(prevVideo)">lien</button>
      <button ng-click="loadVideo(nextVideo)">lien</button>
    </div>
  </div>
</div>

<videogular
  vg-player-ready="onPlayerReady"
  vg-complete="onCompleteVideo"
  vg-update-time="onUpdateTime"
  vg-update-size="onUpdateSize"
  vg-update-volume="onUpdateVolume"
  vg-update-state="onUpdateState"
  vg-width="config.width"
  vg-height="config.height"
  vg-theme="config.theme.url"
  vg-autoplay="config.autoPlay"
  vg-stretch="config.stretch.value"
  vg-responsive="config.responsive">
  <vg-quiz vg-data='config.plugins.quiz.data' vg-quiz-submit="onQuizSubmit" vg-quiz-skip="onQuizSkip"></vg-quiz>
  <video class='videoPlayer' preload='metadata'>
    <source type="video/mp4" src="{{ videoSrcMP4 }}" />
    <source type="video/webm" src="{{ videoSrcWEBM }}" />
    <source type="video/ogv" src="{{ videoSrcOGV }}" />
  </video>
  <vg-poster-image vg-url='config.plugins.poster.url' vg-stretch="config.stretch.value"></vg-poster-image>
  <vg-buffering></vg-buffering>
  <vg-overlay-play></vg-overlay-play>
  <vg-controls vg-autohide="config.autoHide" style="height: 50px;" class="vjs-control-bar">
    <vg-play-pause-button vg-play-icon="config.theme.playIcon" vg-pause-icon="config.theme.pauseIcon"></vg-play-pause-button>
    <vg-timeDisplay class="hidden">{{ currentTime }}</vg-timeDisplay>
    <vg-scrubBar class="hidden">
      <vg-scrubbarcurrenttime></vg-scrubbarcurrenttime>
    </vg-scrubBar>
    <vg-timeDisplay class="hidden">{{ totalTime }}</vg-timeDisplay>
    <vg-volume>
        <vg-mutebutton
          vg-volume-level-3-icon="config.theme.volumeLevel3Icon"
          vg-volume-level-2-icon="config.theme.volumeLevel2Icon"
          vg-volume-level-1-icon="config.theme.volumeLevel1Icon"
          vg-volume-level-0-icon="config.theme.volumeLevel0Icon"
          vg-mute-icon="config.theme.muteIcon">
        </vg-mutebutton>
        <vg-volumebar></vg-volumebar>
    </vg-volume>
    <vg-fullscreenButton vg-enter-full-screen-icon="config.theme.enterFullScreenIcon" vg-exit-full-screen-icon="config.theme.exitFullScreenIcon"></vg-fullscreenButton>
  </vg-controls>
</videogular>
