<div class="row intro-form">
  <div class="col-md-12">
    <h4>Selon toi, Camille devrait répondre de manière ...</h4>
  </div>
</div>

<div class="row onError hidden">
  <p>Tu comptes réellement répondre ça en cas d’agression ? On ne te le conseille pas, réessaye !</p>
</div>

<div class="row form-container">
  <div class="col-md-offset-3 col-md-6">
    <form accept-charset="UTF-8" action="" method="post" role="form" name="replyForm" class="replyForm form-inline">
      <div class="col-md-9">
        <input type="text" class="form-control input-lg" id="reply" name="reply" style="width: 100%;"
               placeholder="Écris un adjectif" autocomplete="off" required autofocus
               ng-model="selectedAdj"
               typeahead="adj for adj in $parent.adjs | filter:$viewValue | limitTo:5" typeahead-min-length="1"/>
      </div>
      <button class="btn btn-success quiz-submit-button" data-ng-click="quizSubmit()" type="submit" data-ng-show="submit" ng-disabled="replyForm.$invalid">Ok</button>
      <button class="btn btn-inverse btn-xs pull-right quiz-skip-button" data-ng-click="quizSkip()" type="button" data-ng-show="skip">Mode aléatoire</button>
    </form>
  </div>
</div>
