<div id="wall">

  <div id="addReply">
    <span aria-hidden="true" ng-click="hideAddReply()" class="pull-right close-cross">&times;</span><span class="sr-only">Close</span></button>
    <h3>Propose ta réplique</h3>

    <div class="response">
      <p>notre équipe va lire votre post, on espère que vous avez été bien inspirée</p>
    </div>

    <form>
      <a ng-click="showSelect( $event )" class="btn btn-block btn-lg btn-primary select" data-value="null"><div class="typeTxt">Type d'agression</div>
        <div class="arrow">
          <span class="fui-arrow-right btnList"></span>
        </div>
      </a>

      <ul ng-mouseleave="hideSelect()">
        <li ng-repeat="type in Types" ng-click="selectRemplace( $event )" data-value="{{type.id}}">{{type.name}}</li>
      </ul>

      <p>Réplique: <span>(<b ng-bind="replyLength"></b> caractères max)</span> </p>

      <textarea ng-keyup="liveLength()" maxlength="140"></textarea>

      <a ng-click="addReply()" class="btn btn-block btn-lg btn-primary addreply">Envoyer</a>
    </form>

  </div>

  <div id="filters">
     <span aria-hidden="true" ng-click="hideFilters()" class="pull-right close-cross">&times;</span><span class="sr-only">Close</span></button>

    <h3>Choisis ton contexte</h3>

    <ul>
      <li ng-click="filtersContexts( $event )" ng-repeat="type in Types" class="filter_typologie_{{type.id}}" data-id="{{type.id}}" isActive="true">{{type.name}}</li>
    </ul>

  </div>

	<div id="replyHover" ng-mouseleave="hideReply()">
		<h3></h3>
		<div class="blocContent">
			<p></p>
		</div>
		<div class="shareReply">
			<p class="txt">Partagez la réplique sur :</p>
			<p>
				<a ng-click="share('facebook')" class="iconf-facebook-circled"><span></span></a>
        <a href="https://twitter.com/intent/tweet?url=http://bit.ly/VcbZMO&text=Un mur de répliques pour répondre aux agressions de rue&hashtags=BienSures,HarcelementDeRue" target="_blank" class="iconf iconf-twitter-circled"><span></span></a>
			</p>
		</div>
	</div>

  <ul id="wallContainer" isotope-container="isotope-container">

    <li class="addReply" ng-click="showAddReply()">
      <span class="fui-plus"></span>
    </li>
    <li class="filtersShow" ng-click="showFilters()">
      <span class="fui-search"></span>
    </li>

    <li ng-repeat="reply in filtredDatas" isotope-item="isotope-item" class="typology_{{reply.typology_id}} itemWall" ng-click="showReply( $event, reply )">
      <p>{{reply.quote}}</p>
      <div></div>
    </li>

  </ul>

</div>