<div id="wall">

	<div id="addReply" ng-mouseleave="hideAddReply()">
		
		<h3>Propose ta réplique</h3>
		
		<select id="type">
			<option selected="selected" value="0">Type d'agression</option>
	  		<option ng-repeat="type in Types" value="{{type.id}}">{{type.name}}</option>
		</select>
		
		<p>Réplique (<span ng-bind="replyLength"></span> caractères) :</p>		
		
		<textarea ng-keyup="liveLength()" maxlength="140"></textarea>

		<a ng-click="addReply()" class="btn btn-block btn-lg btn-primary">ENVOYER</a>
	
	</div>

	<div id="filters" ng-mouseleave="hideFilters()">

		<h3>Choisis ton contexte</h3>

		<ul>
			<li ng-click="filtersContexts( $event )" ng-repeat="type in Types" class="filter_typologie_{{type.id}}" data-id="{{type.id}}" isActive="true">{{type.name}}</li>
		</ul>

	</div>

	<div id="reply" ng-mouseleave="hideReply()">
		<h3></h3>
		<div class="blocContent">
			<p></p>
		</div>
		<div class="shareReply">
			<p class="txt">Partagez la réplique sur:</p>
			<p>
				<a ng-click="share('facebook')" target="_blank" class="iconf-facebook-circled"><span></span></a>
            	<a href="https://twitter.com/intent/tweet?url=http://bit.ly/1nNUhYb&text=Message&hashtags=BienSures" target="_blank" class="iconf-twitter-circled"><span></span></a>
			</p>
		</div>
	</div>
	 
	<ul id="wallContainer" isotope-container="isotope-container">

		<li class="addReply" ng-click="showAddReply()">
			<span class="fui-plus"></span>
		</li>
		<li class="filtersShow" ng-click="showFilters()">
			<span class="fui-search"></span>
		</li>

		<li ng-repeat="reply in filtredDatas" isotope-item="isotope-item" class="typologie_{{reply.typologie_id}}" ng-mouseover="showReply( $event, reply )">
			<p>{{reply.quote}}</p>
			<div></div>
		</li>

	</ul>

</div>